In [243]:
import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import preprocessing
%matplotlib inline

In [4]:
data = pd.read_csv('/Volumes/MyDisk/Spring2020/Data Mining/deepsolar_tract.csv', encoding='latin1' )
data.head()

,Unnamed: 0,tile_count,solar_system_count,total_panel_area,fips,average_household_income,county,education_bachelor,education_college,education_doctoral,education_high_school_graduate,education_less_than_high_school,education_master,education_population,education_professional_school,employed,gini_index,heating_fuel_coal_coke,heating_fuel_electricity,heating_fuel_fuel_oil_kerosene,heating_fuel_gas,heating_fuel_housing_unit_count,heating_fuel_none,heating_fuel_other,heating_fuel_solar,land_area,per_capita_income,population,population_density,poverty_family_below_poverty_level,poverty_family_count,race_asian,race_black_africa,race_indian_alaska,race_islander,race_other,race_two_more,race_white,state,total_area,unemployed,water_area,education_less_than_high_school_rate,education_high_school_graduate_rate,education_college_rate,education_bachelor_rate,education_master_rate,education_professional_school_rate,education_doctoral_rate,race_white_rate,race_black_africa_rate,race_indian_alaska_rate,race_asian_rate,race_islander_rate,race_other_rate,race_two_more_rate,employ_rate,poverty_family_below_poverty_level_rate,heating_fuel_gas_rate,heating_fuel_electricity_rate,heating_fuel_fuel_oil_kerosene_rate,heating_fuel_coal_coke_rate,heating_fuel_solar_rate,heating_fuel_other_rate,heating_fuel_none_rate,solar_panel_area_divided_by_area,solar_panel_area_per_capita,tile_count_residential,tile_count_nonresidential,solar_system_count_residential,solar_system_count_nonresidential,total_panel_area_residential,total_panel_area_nonresidential,median_household_income,electricity_price_residential,electricity_price_commercial,electricity_price_industrial,electricity_price_transportation,electricity_price_overall,electricity_consume_residential,electricity_consume_commercial,electricity_consume_industrial,electricity_consume_total,household_count,average_household_size,housing_unit_count,housing_unit_occupied_count,housing_unit_median_value,housing_unit_median_gross_rent,lat,lon,elevation,heating_design_temperature,cooling_design_temperature,earth_temperature_amplitude,frost_days,air_temperature,relative_humidity,daily_solar_radiation,atmospheric_pressure,wind_speed,earth_temperature,heating_degree_days,cooling_degree_days,age_18_24_rate,age_25_34_rate,age_more_than_85_rate,age_75_84_rate,age_35_44_rate,age_45_54_rate,age_65_74_rate,age_55_64_rate,age_10_14_rate,age_15_17_rate,age_5_9_rate,household_type_family_rate,dropout_16_19_inschool_rate,occupation_construction_rate,occupation_public_rate,occupation_information_rate,occupation_finance_rate,occupation_education_rate,occupation_administrative_rate,occupation_manufacturing_rate,occupation_wholesale_rate,occupation_retail_rate,occupation_transportation_rate,occupation_arts_rate,occupation_agriculture_rate,occupancy_vacant_rate,occupancy_owner_rate,mortgage_with_rate,transportation_home_rate,transportation_car_alone_rate,transportation_walk_rate,transportation_carpool_rate,transportation_motorcycle_rate,transportation_bicycle_rate,transportation_public_rate,travel_time_less_than_10_rate,travel_time_10_19_rate,travel_time_20_29_rate,travel_time_30_39_rate,travel_time_40_59_rate,travel_time_60_89_rate,health_insurance_public_rate,health_insurance_none_rate,age_median,travel_time_average,voting_2016_dem_percentage,voting_2016_gop_percentage,voting_2016_dem_win,voting_2012_dem_percentage,voting_2012_gop_percentage,voting_2012_dem_win,number_of_years_of_education,diversity,number_of_solar_system_per_household,incentive_count_residential,incentive_count_nonresidential,incentive_residential_state_level,incentive_nonresidential_state_level,net_metering,feedin_tariff,cooperate_tax,property_tax,sales_tax,rebate,avg_electricity_retail_rate
0,0,0.0,0.0,0.000000,27145011200,70352.789869,Stearns County,569,1690,13,1757,336,157,4548,26,3569,0.3490,200,448,98,1720,2527,10,51,0,147.73120,26999.0,6577,44.52005,85,1911,28,19,16,0,6,88,6420,mn,154.37190,136,6.640769,0.073879,0.386324,0.371592,0.125110,0.034521,0.005717,0.002858,0.976129,0.002889,0.002433,0.004257,0.0,0.000912,0.013380,0.963293,0.044479,0.680649,0.177285,0.038781,0.079145,0.0,0.020182,0.003957,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,64232.0,12.12,9.44,7.02,9.5,9.53,762,6743,182201,189706,2527,2.58,2931,2527,192500.0,814.0,45.369,-94.282,358.0,-16.7,25.78,24.07,154.0,5.4,0.695,3.76,97.4,4.4,5.7,4810.0,1278.0,0.078759,0.095028,0.008058,0.046374,0.109624,0.189600,0.085145,0.157671,0.075262,0.045157,0.064771,0.756233,1.000000,0.113757,0.024096,0.012609,0.044830,0.203699,0.053797,0.177080,0.021855,0.117960,0.063603,0.063323,0.059681,0.137837,0.776868,0.627580,0.088343,0.795371,0.019193,0.086367,0.003387,0.002258,0.003669,0.130341,0.212693,0.213932,0.241176,0.088854,0.067802,0.249962,0.070330,43.9,29.0,0.323796,0.602874,False,0.429,0.55,False,13.232410,0.046960,0.000000,34,39,11,13,34,0,0,25,12,0,9.46
1,1,25.0,21.0,1133.436461,27145011301,61727.085202,Stearns County,674,1434,108,767,222,285,3533,43,4795,0.4074,20,379,17,1799,2230,0,15,0,16.61679,20951.0,8020,482.64430,189,1359,188,205,23,0,67,132,7405,mn,16.69968,233,0.082887,0.062836,0.217096,0.405887,0.190773,0.080668,0.012171,0.030569,0.923317,0.025561,0.002868,0.023441,0.0,0.008354,0.016459,0.953660,0.139073,0.806726,0.169955,0.007623,0.008969,0.0,0.006726,0.000000,17.801218,0.037067,17.0,8.0,15.0,6.0,297.274652,836.161809,49778.0,12.12,9.44,7.02,9.5,9.53,762,6743,182201,189706,2230,2.75,2356,2230,157000.0,733.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.377182,0.108603,0.009975,0.039526,0.095885,0.091521,0.034040,0.060973,0.036284,0.024314,0.061721,0.609417,0.966867,0.066945,0.018561,0.011053,0.046507,0.410636,0.034619,0.103024,0.010636,0.103233,0.032534,0.068613,0.004797,0.053480,0.683786,0.644320,0.135403,0.596433,0.091590,0.095332,0.000000,0.000000,0.064509,0.239878,0.431373,0.175452,0.050166,0.028520,0.008403,0.245761,0.043890,21.9,22.0,0.323796,0.602874,False,0.429,0.55,False,14.192188,0.145934,0.006726,34,39,11,13,34,0,0,25,12,0,9.46
2,2,3.0,3.0,64.505776,27145011302,71496.886583,Stearns County,854,1459,31,1541,289,276,4480,30,3550,0.3926,69,440,45,2098,2698,29,17,0,37.44482,28021.0,6971,186.16730,134,1961,0,0,2,0,18,12,6939,mn,39.33050,151,1.885683,0.064509,0.343973,0.325670,0.190625,0.061607,0.006696,0.006920,0.995410,0.000000,0.000287,0.000000,0.0,0.002582,0.001721,0.959200,0.068332,0.777613,0.163084,0.016679,0.025574,0.0,0.006301,0.010749,1.640095,0.009253,3.0,0.0,3.0,0.0,64.505776,0.000000,63355.0,12.12,9.44,7.02,9.5,9.53,762,6743,182201,189706,2698,2.55,2909,2698,182400.0,692.0,45.460,-94.425,358.0,-16.7,25.78,24.07,154.0,5.4,0.695,3.76,97.4,4.4,5.7,4810.0,1278.0,0.079902,0.093817,0.032277,0.050782,0.120069,0.151485,0.079759,0.114474,0.100273,0.057381,0.065701,0.726835,0.989605,0.050986,0.024789,0.004789,0.081972,0.256338,0.085352,0.197183,0.020845,0.100845,0.046197,0.048169,0.030704,0.072534,0.776212,0.640390,0.033475,0.841986,0.034894,0.076879,0.008794,0.000000,0.000000,0.236865,0.206927,0.262107,0.199296,0.042559,0.041385,0.255264,0.037171,39.6,21.0,0.323796,0.602874,False,0.429,0.55,False,13.647991,0.009150,0.001112,34,39,11,13,34,0,0,25,12,0,9.46
3,3,0.0,0.0,0.000000,27145011304,86840.152755,Stearns County,640,1116,68,1095,231,270,3456,36,3483,0.3949,188,442,61,1113,1833,13,16,0,75.21147,29275.0,6328,84.13610,87,1499,171,69,26,0,305,64,5693,mn,81.04071,186,5.829235,0.066840,0.316840,0.322917,0.185185,0.078125,0.010417,0.019676,0.899652,0.010904,0.004109,0.027023,0.0,0.048198,0.010114,0.949305,0.058039,0.607201,0.241135,0.033279,0.102564,0.0,0.008729,0.007092,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,71599.0,12.12,9.44,7.02,9.5,9.53,762,6743,182201,189706,1833,2.57,2226,1833,251400.0,681.0,45.507,-94.388,358.0,-16.7,25.78,24.07,154.0,5.4,0.695,3.76,97.4,4.4,5.7,4810.0,1278.0,0.283660,0.075221,0.005689,0.041245,0.075695,0.133534,0.076327,0.138432,0.041403,0.035556,0.048357,0.817785,0.988485,0.095607,0.022394,0.014355,0.029859,0.300316,0.063164,0.144416,0.035889,0.085558,0.039334,0.095607,0.035889,0.176550,0.745283,0.637734,0.135988,0.677795,0.079020,0.086677,0.001225,0.001838,0.014395,0.190358,0.344913,0.251684,0.114498,0.060262,0.021624,0.185051,0.050727,30.9,21.0,0.323796,0.602874,False,0.429,0.55,False,13.858796,0.187334,0.000000,34,39,11,13,34,0,0,25,12,0,9.46
4,4,5.0,5.0,164.583303,27145011400,89135.315597,Stearns County,654,1314,15,982,163,170,3348,50,2887,0.4463,96,497,47,1202,1917,31,44,0,44.00151,32770.0,5264,119.63230,73,1473,34,91,0,0,0,122,5017,mn,44.60017,154,0.598656,0.048686,0.293309,0.392473,0.195341,0.050777,0.014934,0.004480,0.953078,0.017287,0.000000,0.006459,0.0,0.000000,0.023176,0.949359,0.049559,0.627021,0.259259,0.024517,0.050078,0.0,0.022953,0.016171,1.368842,0.011598,4.0,1.0,4.0,1.0,61.050581,103.532723,68401.0,12.12,9.44,7.02,9.5,9.53,762,6743,182201,189706,1917,2.74,2004,1917,208600.0,882.0,45.457,-94.182,358.0,-16.7,25.78,24.07,154.0,5.4,0.695,3.76,97.4,4.4,5.7,4810.0,1278.0,0.090616,0.142477,0.005509,0.028875,0.120631,0.149506,0.060410,0.128609,0.049962,0.039704,0.103723,0.768388,0.946565,0.068237,0.014548,0.011084,0.056460,0.240734,0.125390,0.158989,0.027710,0.123311,0.058538,0.041912,0.029789,0.043413,0.678643,0.601471,0.042524,0.843848,0.016731,0.088184,0.000000,0.000000,0.002440,0.119767,0.344376,0.294503,0.098289,0.046960,0.065890,0.272710,0.023424,34.5,25.0,0.323796,0.602874,False,0.429,0.55,False,13.850956,0.090766,0.002087,34,39,11,13,34,0,0,25,12,0,9.46

In [50]:
data[['tile_count','solar_system_count','county']].groupby('county').count()

                  tile_count  solar_system_count
county
Abbeville County           6                   6
Acadia Parish             12                  12
Accomack County           12                  12
Ada County                59                  59
Adair County              22                  22
...                      ...                 ...
Yuba County               14                  14
Yuma County               57                  57
Zapata County              3                   3
Zavala County              4                   4
Ziebach County             1                   1

[1843 rows x 2 columns]

In [51]:
data['tile_count'].min()

0.0

###### data.columns

In [52]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72537 entries, 0 to 72536
Columns: 169 entries, Unnamed: 0 to avg_electricity_retail_rate
dtypes: bool(2), float64(117), int64(47), object(3)
memory usage: 92.6+ MB

In [53]:
data.isnull().sum()

Unnamed: 0                                     0
tile_count                                     0
solar_system_count                             0
total_panel_area                               0
fips                                           0
average_household_income                     886
county                                         0
education_bachelor                             0
education_college                              0
education_doctoral                             0
education_high_school_graduate                 0
education_less_than_high_school                0
education_master                               0
education_population                           0
education_professional_school                  0
employed                                       0
gini_index                                   847
heating_fuel_coal_coke                         0
heating_fuel_electricity                       0
heating_fuel_fuel_oil_kerosene                 0
heating_fuel_gas                               0
heating_fuel_housing_unit_count                0
heating_fuel_none                              0
heating_fuel_other                             0
heating_fuel_solar                             0
land_area                                     24
per_capita_income                            643
population                                     0
population_density                           316
poverty_family_below_poverty_level             0
poverty_family_count                           0
race_asian                                     0
race_black_africa                              0
race_indian_alaska                             0
race_islander                                  0
race_other                                     0
race_two_more                                  0
race_white                                     0
state                                          0
total_area                                    24
unemployed                                     0
water_area                                    24
education_less_than_high_school_rate         607
education_high_school_graduate_rate          607
education_college_rate                       607
education_bachelor_rate                      607
education_master_rate                        607
education_professional_school_rate           607
education_doctoral_rate                      607
race_white_rate                              597
race_black_africa_rate                       597
race_indian_alaska_rate                      597
race_asian_rate                              597
race_islander_rate                           597
race_other_rate                              597
race_two_more_rate                           597
employ_rate                                  706
poverty_family_below_poverty_level_rate      823
heating_fuel_gas_rate                        771
heating_fuel_electricity_rate                771
heating_fuel_fuel_oil_kerosene_rate          771
heating_fuel_coal_coke_rate                  771
heating_fuel_solar_rate                      771
heating_fuel_other_rate                      771
heating_fuel_none_rate                       771
solar_panel_area_divided_by_area              24
solar_panel_area_per_capita                  463
tile_count_residential                         0
tile_count_nonresidential                      0
solar_system_count_residential                 0
solar_system_count_nonresidential              0
total_panel_area_residential                   0
total_panel_area_nonresidential                0
median_household_income                      957
electricity_price_residential                  0
electricity_price_commercial                   0
electricity_price_industrial                   0
electricity_price_transportation               0
electricity_price_overall                      0
electricity_consume_residential                0
electricity_consume_commercial                 0
electricity_consume_industrial                 0
electricity_consume_total                      0
household_count                                0
average_household_size                       808
housing_unit_count                             0
housing_unit_occupied_count                    0
housing_unit_median_value                   1894
housing_unit_median_gross_rent              1976
lat                                         5802
lon                                         5802
elevation                                   5802
heating_design_temperature                  5802
cooling_design_temperature                  5802
earth_temperature_amplitude                 5802
frost_days                                  5802
air_temperature                             5802
relative_humidity                           5802
daily_solar_radiation                       5802
atmospheric_pressure                        5802
wind_speed                                  5802
earth_temperature                           5802
heating_degree_days                         5802
cooling_degree_days                         5802
age_18_24_rate                               597
age_25_34_rate                               597
age_more_than_85_rate                        597
age_75_84_rate                               597
age_35_44_rate                               597
age_45_54_rate                               597
age_65_74_rate                               597
age_55_64_rate                               597
age_10_14_rate                               597
age_15_17_rate                               597
age_5_9_rate                                 597
household_type_family_rate                   771
dropout_16_19_inschool_rate                 1061
occupation_construction_rate                 711
occupation_public_rate                       711
occupation_information_rate                  711
occupation_finance_rate                      711
occupation_education_rate                    711
occupation_administrative_rate               711
occupation_manufacturing_rate                711
occupation_wholesale_rate                    711
occupation_retail_rate                       711
occupation_transportation_rate               711
occupation_arts_rate                         711
occupation_agriculture_rate                  711
occupancy_vacant_rate                        746
occupancy_owner_rate                         746
mortgage_with_rate                          1136
transportation_home_rate                     701
transportation_car_alone_rate                701
transportation_walk_rate                     701
transportation_carpool_rate                  701
transportation_motorcycle_rate               701
transportation_bicycle_rate                  701
transportation_public_rate                   701
travel_time_less_than_10_rate                705
travel_time_10_19_rate                       705
travel_time_20_29_rate                       705
travel_time_30_39_rate                       705
travel_time_40_59_rate                       705
travel_time_60_89_rate                       705
health_insurance_public_rate                 701
health_insurance_none_rate                   701
age_median                                   630
travel_time_average                          847
voting_2016_dem_percentage                     3
voting_2016_gop_percentage                     3
voting_2016_dem_win                            0
voting_2012_dem_percentage                 10554
voting_2012_gop_percentage                 10554
voting_2012_dem_win                            0
number_of_years_of_education                 607
diversity                                    597
number_of_solar_system_per_household         546
incentive_count_residential                    0
incentive_count_nonresidential                 0
incentive_residential_state_level              0
incentive_nonresidential_state_level           0
net_metering                                   0
feedin_tariff                                  0
cooperate_tax                                  0
property_tax                                   0
sales_tax                                      0
rebate                                         0
avg_electricity_retail_rate                    0
dtype: int64

In [54]:
data.groupby(data['county'])['total_panel_area'].mean()

county
Abbeville County      33.679973
Acadia Parish        319.494470
Accomack County       68.261343
Ada County           325.957897
Adair County         188.637733
                       ...
Yuba County         4286.143337
Yuma County         1662.942316
Zapata County         93.654498
Zavala County         32.902217
Ziebach County         0.000000
Name: total_panel_area, Length: 1843, dtype: float64

In [55]:
cali_data = data[data['state'] == 'ca']
cali_data['tile_count'].max()

3055.0

In [127]:
def normalize(data):
    data_sqr = data*data;
    data_sum= np.sum(data_sqr)
    data_sum_sqrt = np.sqrt(data_sum)
    dataNorm = data/data_sum_sqrt
    return dataNorm

## Census Tract Level Environmental and Socioeconomic factors

### 1. Statewide Incentive parameters and Average Electricity Retail Rate

In [6]:
incentive_parameters = [

    'incentive_count_residential',
                        
                        'incentive_count_state_level',
                        'net_metering',
                        'feedin_tariff',
                        'cooperate_tax',
                        'property_tax',
                        'sales_tax',
                        'rebate',
                        'avg_electricity_retail_rate',
                        'electricity_price_residential',                                     

                       ]
len(incentive_parameters)

10

### 2. Demographic Factors

In [7]:
demographic_parameters = [
    'average_household_income',
                        'gini_index',
                        'per_capita_income',                                                    
                        'population_density',                                                   
                        'education_less_than_high_school_rate',         
'education_high_school_graduate_rate',         
'education_college_rate',                       
'education_bachelor_rate',                      
'education_master_rate',                        
'education_professional_school_rate',           
'education_doctoral_rate',                      
'race_white_rate',                              
'race_black_africa_rate',                       
'race_indian_alaska_rate',                      
'race_asian_rate',                              
'race_islander_rate',                          
'race_other_rate',                              
'race_two_more_rate',
'poverty_family_below_poverty_level_rate',      
'heating_fuel_gas_rate',                        
'heating_fuel_electricity_rate',                
'heating_fuel_fuel_oil_kerosene_rate',          
'heating_fuel_coal_coke_rate',                  
'heating_fuel_solar_rate',                      
'heating_fuel_other_rate',                      
'heating_fuel_none_rate',                       
'household_count',                                
'average_household_size',                      
'housing_unit_count',                             
'housing_unit_occupied_count',                    
'housing_unit_median_value',                   
'housing_unit_median_gross_rent',
'age_18_24_rate',                               
'age_25_34_rate',                               
'age_more_than_85_rate',                        
'age_75_84_rate',                               
'age_35_44_rate',                               
'age_45_54_rate',                               
'age_65_74_rate',                               
'age_55_64_rate',                               
'age_10_14_rate',                               
'age_15_17_rate',                               
'age_5_9_rate',                                 
'household_type_family_rate',                   
'dropout_16_19_inschool_rate',                 
'occupation_construction_rate',                 
'occupation_public_rate',                       
'occupation_information_rate',                  
'occupation_finance_rate',                      
'occupation_education_rate',                    
'occupation_administrative_rate',               
'occupation_manufacturing_rate',                
'occupation_wholesale_rate',                    
'occupation_retail_rate',                       
'occupation_transportation_rate',               
'occupation_arts_rate',                        
'occupation_agriculture_rate',                  
'occupancy_vacant_rate',                        
'occupancy_owner_rate',                         
'mortgage_with_rate',                          
'transportation_home_rate',                     
'transportation_car_alone_rate',                
'transportation_walk_rate',                     
'transportation_carpool_rate',                  
'transportation_motorcycle_rate',               
'transportation_bicycle_rate',                  
'transportation_public_rate',                   
'travel_time_less_than_10_rate',               
'travel_time_10_19_rate',                       
'travel_time_20_29_rate',                       
'travel_time_30_39_rate',                       
'travel_time_40_59_rate',                       
'travel_time_60_89_rate',                       
'health_insurance_public_rate',                 
'health_insurance_none_rate',                                 
]

len(demographic_parameters)

75

### Environmental Condition Parameters

In [233]:
envt_parameters = [
    
'heating_design_temperature',                  
'cooling_design_temperature',                  
'earth_temperature_amplitude',             
'frost_days',                                 
'air_temperature',                             
'relative_humidity',                          
'daily_solar_radiation',                       
'atmospheric_pressure',                        
'wind_speed',                                 
'earth_temperature',                           
'heating_degree_days',                         
'cooling_degree_days',
]
len(envt_parameters)

12

In [234]:
# Slicing the dataset to examine the environmental condition parameters only

envt_data = data[envt_parameters]
envt_data.head(10)

,heating_design_temperature,cooling_design_temperature,earth_temperature_amplitude,frost_days,air_temperature,relative_humidity,daily_solar_radiation,atmospheric_pressure,wind_speed,earth_temperature,heating_degree_days,cooling_degree_days
0,-16.70,25.78,24.07,154.0,5.4,0.695,3.76,97.4,4.4,5.7,4810.0,1278.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,-16.70,25.78,24.07,154.0,5.4,0.695,3.76,97.4,4.4,5.7,4810.0,1278.0
3,-16.70,25.78,24.07,154.0,5.4,0.695,3.76,97.4,4.4,5.7,4810.0,1278.0
4,-16.70,25.78,24.07,154.0,5.4,0.695,3.76,97.4,4.4,5.7,4810.0,1278.0
5,-16.87,25.91,24.58,154.0,5.4,0.694,3.76,97.2,4.5,5.9,4820.0,1288.0
6,-16.70,25.78,24.07,154.0,5.4,0.695,3.76,97.4,4.4,5.7,4810.0,1278.0
7,-16.70,25.78,24.07,154.0,5.4,0.695,3.76,97.4,4.4,5.7,4810.0,1278.0
8,-16.70,25.78,24.07,154.0,5.4,0.695,3.76,97.4,4.4,5.7,4810.0,1278.0
9,-16.70,25.78,24.07,154.0,5.4,0.695,3.76,97.4,4.4,5.7,4810.0,1278.0

In [235]:
# Handling missing values in out dataset

envt_data.isnull().sum()

heating_design_temperature     5802
cooling_design_temperature     5802
earth_temperature_amplitude    5802
frost_days                     5802
air_temperature                5802
relative_humidity              5802
daily_solar_radiation          5802
atmospheric_pressure           5802
wind_speed                     5802
earth_temperature              5802
heating_degree_days            5802
cooling_degree_days            5802
dtype: int64

 - The fact that all the attributes have the same number of missing values makes it look like they are having missing records from the same data objects 
     * let us take one attribute and see all the missing values if the missing records are from the same data objects

In [236]:
# In this section, 'frost_days', attribute is used to determine the missing values 
# Based on this observation - it is clear that the missing values are all from the same data objects

envt_data = data[envt_parameters]
missing_envt_data = envt_data[envt_data['frost_days'].isnull()]
envt_data_missing_val_indx = missing_envt_data.index   ## Index of the values with the missing values
missing_envt_data.head(30)

,heating_design_temperature,cooling_design_temperature,earth_temperature_amplitude,frost_days,air_temperature,relative_humidity,daily_solar_radiation,atmospheric_pressure,wind_speed,earth_temperature,heating_degree_days,cooling_degree_days
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
633,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
635,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2631,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2673,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2675,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2677,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2683,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2685,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2687,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2689,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2692,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2717,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2840,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3090,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3115,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3139,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3142,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

- The above analysis shows that certain records never contributed environmental data. It is shown from the analysis that all the missing values are from the same data records.
    * Since there are more than 5000 data records which did not provide any environmental data record at all, filling them with some value could be misleading to the analysis. 
    * Hence, the data records are dropped from the enviromental data slice.

In [244]:
# Dropping the environmental Data

envt_data.dropna(inplace=True)
envt_data.isnull().sum()

heating_design_temperature     0
cooling_design_temperature     0
earth_temperature_amplitude    0
frost_days                     0
air_temperature                0
relative_humidity              0
daily_solar_radiation          0
atmospheric_pressure           0
wind_speed                     0
earth_temperature              0
heating_degree_days            0
cooling_degree_days            0
dtype: int64

In [245]:
clean_envt_data = envt_data.copy()
clean_envt_data

,heating_design_temperature,cooling_design_temperature,earth_temperature_amplitude,frost_days,air_temperature,relative_humidity,daily_solar_radiation,atmospheric_pressure,wind_speed,earth_temperature,heating_degree_days,cooling_degree_days
0,-16.70,25.78,24.07,154.0,5.4,0.695,3.76,97.4,4.4,5.7,4810.0,1278.0
2,-16.70,25.78,24.07,154.0,5.4,0.695,3.76,97.4,4.4,5.7,4810.0,1278.0
3,-16.70,25.78,24.07,154.0,5.4,0.695,3.76,97.4,4.4,5.7,4810.0,1278.0
4,-16.70,25.78,24.07,154.0,5.4,0.695,3.76,97.4,4.4,5.7,4810.0,1278.0
5,-16.87,25.91,24.58,154.0,5.4,0.694,3.76,97.2,4.5,5.9,4820.0,1288.0
...,...,...,...,...,...,...,...,...,...,...,...,...
72532,-11.09,23.96,22.47,171.0,5.8,0.534,4.54,76.9,4.8,6.8,4468.0,838.0
72533,-1.52,31.35,18.44,35.0,16.7,0.674,4.68,98.5,5.2,17.1,1598.0,2999.0
72534,-1.52,31.35,18.44,35.0,16.7,0.674,4.68,98.5,5.2,17.1,1598.0,2999.0
72535,-1.52,31.35,18.44,35.0,16.7,0.674,4.68,98.5,5.2,17.1,1598.0,2999.0
72536,1.04,29.35,16.31,18.0,17.1,0.708,4.91,95.9,4.1,17.8,1267.0,2955.0

  - The environmental data is clean

### Political Views

In [189]:
pol_var = [
    
'voting_2016_dem_percentage',                     
'voting_2016_gop_percentage',                     
'voting_2016_dem_win',                            
'voting_2012_dem_percentage',                 
'voting_2012_gop_percentage',                
'voting_2012_dem_win'                           
]

len(political_parameters)

6

In [190]:
pol_data = data[pol_var]
pol_data.isnull().sum()

voting_2016_dem_percentage        3
voting_2016_gop_percentage        3
voting_2016_dem_win               0
voting_2012_dem_percentage    10554
voting_2012_gop_percentage    10554
voting_2012_dem_win               0
dtype: int64

- Voting data from 2012 seems to have a lot of missing values. Although it is possible to impute the missing values, it could otherwise be misleading due to the magnitude of missing values. Keeping the win attribute from 2012 might give us a good insight, hence it is being kept. Hence, dropping the whole attribute is the best option.

In [191]:
pol_data.isnull().sum()

voting_2016_dem_percentage        3
voting_2016_gop_percentage        3
voting_2016_dem_win               0
voting_2012_dem_percentage    10554
voting_2012_gop_percentage    10554
voting_2012_dem_win               0
dtype: int64

In [192]:
pol_data = pol_data.drop(['voting_2012_dem_percentage',                 
'voting_2012_gop_percentage'], axis = 1)
pol_data

,voting_2016_dem_percentage,voting_2016_gop_percentage,voting_2016_dem_win,voting_2012_dem_win
0,0.323796,0.602874,False,False
1,0.323796,0.602874,False,False
2,0.323796,0.602874,False,False
3,0.323796,0.602874,False,False
4,0.323796,0.602874,False,False
...,...,...,...,...
72532,0.389874,0.524727,False,False
72533,0.194085,0.771059,False,False
72534,0.194085,0.771059,False,False
72535,0.194085,0.771059,False,False
72536,0.177907,0.791860,False,False

In [193]:
# Filling the missing vlaues with the mean of the values and checking for any other missing values

mean = pol_data['voting_2016_dem_percentage'].mean()
mean1 = pol_data['voting_2016_gop_percentage'].mean()
pol_data['voting_2016_dem_percentage'].fillna(mean, inplace=True)
pol_data['voting_2016_gop_percentage'].fillna(mean1, inplace=True)
pol_data.isnull().sum()

voting_2016_dem_percentage    0
voting_2016_gop_percentage    0
voting_2016_dem_win           0
voting_2012_dem_win           0
dtype: int64

In [195]:
# Mapping True and False values of our attributes into 1 and 0 respectively
vot_map = {True: 1, False: 0}

pol_data['voting_2016_dem_win'] = pol_data['voting_2016_dem_win'].map(vot_map)
pol_data['voting_2012_dem_win'] = pol_data['voting_2016_dem_win'].map(vot_map)
pol_data.head()

,voting_2016_dem_percentage,voting_2016_gop_percentage,voting_2016_dem_win,voting_2012_dem_win
0,0.323796,0.602874,0,0
1,0.323796,0.602874,0,0
2,0.323796,0.602874,0,0
3,0.323796,0.602874,0,0
4,0.323796,0.602874,0,0

In [196]:
clean_pol_data = pol_data.copy()
clean_pol_data

,voting_2016_dem_percentage,voting_2016_gop_percentage,voting_2016_dem_win,voting_2012_dem_win
0,0.323796,0.602874,0,0
1,0.323796,0.602874,0,0
2,0.323796,0.602874,0,0
3,0.323796,0.602874,0,0
4,0.323796,0.602874,0,0
...,...,...,...,...
72532,0.389874,0.524727,0,0
72533,0.194085,0.771059,0,0
72534,0.194085,0.771059,0,0
72535,0.194085,0.771059,0,0
72536,0.177907,0.791860,0,0

 - The political views data is clean